<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>스프링 부트 웹서비스</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<script src ="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src = "/js/app/index.js"></script>

</body>
</html>